@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
}

/*
  Remove the following styles before
  sending to the device or simulator
*/

html,
body,
#root {
  height: 320px;
  width: 240px;
  background-color: #fff;
}

html,
body {
  background-color: #e1e2e1;
}

div[class*="softkey"] {
  top: 320px;
  bottom: auto !important;
  width: 240px;
}

/*
  Remove the upper styles before
  sending to the device or simulator
*/

button[nav-selected="true"] {
  background-image: linear-gradient(255deg, #9B27AF, #9B27AF) !important;
  color: #FFF !important;
}

/* * {
  box-sizing: border-box;
}

html,
body,
#root {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #E1E2E1 !important;
} */

.blue-bg {
  background: #4299e1;
  background-color: #4299e1;
  color: #ffffff;
}
.blue-500-bg {
  background: #3182ce;
  background-color: #3182ce;
  color: #ffffff;
}

button {
  background: #4299e1;
  background-color: #4299e1;
  color: #ffffff;
  /* border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0; */
}

/* Login Helper */

.loginHelperContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 25px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.loginHelperContainer h1 {
  text-align: center;
  margin: 0 0 20px 0;
  color: #555;
}

.loginHelperContainer input[type="text"],
.loginHelperContainer input[type="password"] {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #F6F6F6;
}

.loginHelperContainer button {
  background-color: #4299E1;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
}

.loginHelperContainer label {
  color: #555;
  display: block;
}

/* Login Helper */